* {
  margin: 0;
  padding: 0;
}

/* Navbar */
.nav-logo {
  width: 40%;
  margin: -15px;
}

.custom-button {
  font-weight: 600;
  width: 200px;
}

/* HERO */
.faq-hero {
  background-color: #5260DB;
  color: white;
}

/* FAQ SECTION */
.container .nav .nav-item .nav-link {
  color: black;
}

.container .nav .nav-item .active{
  background-color: #FBDD41;
}

.accordion .accordion-item {
  margin: 3% 0;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;  
} 

.accordion .accordion-item .accordion-header{
  border-top: 2px solid black;
  /* font-size: 40px; */

}

.accordion .accordion-item .accordion-body {
  margin-top: -20px;
  padding-bottom: 2%;
  font-size: 20px;
  width: 80%;
}

.accordion-button-custom {
  border: 0;
  background-color: transparent;
  padding: 2%;
  width: 100%;
  text-align: start;
  position: relative;
  display: flex;
}

.accordion-button-custom h1 {
  font-weight: bold;
  font-size: 26.787px;
  width: 40%;
}

.arrow[aria-expanded="true"]::after {
  font-family: 'Bootstrap-icons';
  content: '\F235';
  position: absolute;
  right: 20px;
}

.arrow[aria-expanded="false"]::after {
  font-family: 'Bootstrap-icons';
  content: '\F229';
  position: absolute;
  right: 20px;
}

/* QUESTION */
.bg-faq-question {
  background: url('../assets/img/sect-3-bg.png');
  background-size: cover;
  height: 45vw;
}

/* footer */
.kotak {
  position: relative;
  top: 40px;
  width: 80%;
  height: 100%;
  margin: auto;
}

.bg-footer {
  background: rgb(24,43,207);
  background: linear-gradient(180deg, rgba(24,43,207,0.79) 0%, rgba(42,72,252,0.76) 50%, rgba(42,72,252,0.79) 100%);
}
