* {
  margin: 0;
  padding: 0;
}

/* Navbar */

.navbar-brand {
  margin-left: 100px;
}

.navbar .navbar-nav .nav-link.active {
  font-weight: 600;
  font-size: 16px;
}

.custom-button {
  font-weight: 600;
  width: 200px;
}

/* Hero Section */
.banner {
  background: url(../assets/banner.png) no-repeat;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 20px;
}

/* Kegiatan Section */
#kegiatan {
  background: url(../assets/pattern.jpg) no-repeat;
  background-size: cover;
}
/* Profil Psikolog */

ul {
  padding: 0;
}

li {
  list-style: none;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 0;
}

main h1 {
  margin-bottom: 50px;
}

.wrapper {
  position: relative;

  /* // Gradient side fade */
}
.wrapper:before,
.wrapper:after {
  position: absolute;
  top: 0;
  z-index: 1;
  content: "";
  display: block;
  width: 100%;
}
.wrapper:before {
  left: 0;
  background: linear-gradient(90deg, #222, transparent);
}

.wrapper:after {
  right: 0;
  background: linear-gradient(-90deg, #222, transparent);
}

.items {
  position: relative;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  font-size: 0;
  cursor: pointer;
}
.items:active {
  cursor: grab;
}

.item {
  display: inline-block;
  margin-left: 20px;
  user-select: none;

  background: rgba(35, 61, 255, 255);
  width: 100%;
  height: 300px;
  color: #222;
}

.item img {
  width: 320px;
  height: 300px;
  margin: 0 -15%;
}

.item:last-child {
  margin-right: 20px;
}

.item2 {
  display: inline-block;
  margin-left: 30px;
  padding: 1%;
  user-select: none;
  background: rgb(255, 255, 255);
  width: 100%;
  /* height: 150px; */
  color: black;
  overflow: hidden;
}

.item2 p {
  padding: 5%;
  text-align: center;
  font-size: 18px;
  white-space: normal;
}

.item2:last-child {
  margin-right: 20px;
}

.item2:nth-child(2n + 1) {
  background-color: silver;
  margin-top: 10%;
}

.item2:nth-child(2n + 2) {
  margin-bottom: 15%;
}

@media screen and (min-width: 500px) {
  .item {
    width: 33%;
  }
  .item2 {
    width: 33%;
  }
}

@media screen and (min-width: 800px) {
  .item {
    width: 25%;
  }
  .item2 {
    width: 25%;
  }
}

@media screen and (min-width: 1200px) {
  .wrapper {
    margin-left: 20px;
  }

  .item {
    width: 20%;
  }

  .item2 {
    width: 30%;
  }
}
/* footer */
.kotak {
  position: relative;
  top: 30px;
  width: 70%;
  margin: auto;
}
.kotak-biru {
  padding-top: 40px;
}
