:root {
  --bg-afeksi-theme: #5a74fd;
  --color-afeksi-custom: #374dfa;
  --bg-final-footer: #4959db;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif !important;
  text-decoration: none !important;
}

body {
  /* overflow-x: hidden; */
  background-color: #ebebeb2c !important;
}

/* NAVBAR */
.navbar {
  box-shadow: 0px 13px 40px 0px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 1;
}
.navbar li a {
  color: #94a8be;
}

.button-daftar:hover {
  transform: scale(1.1);
}

.button-login:hover {
  transform: scale(1.1);
  background: #233dff;
}

.button-daftar:focus {
  outline: none;
}

.button-login:focus {
  outline: #233dff;
}

.dropdown .dropdown-menu {
  margin-left: -20%;
}

@media (max-width: 1000px) {
  .dropdown .dropdown-menu {
    margin-left: 0;
  }
}

/* END NAVBAR */

/* HERO */
.hero {
  background-color: var(--bg-afeksi-theme);
  color: white;
  position: relative;
  overflow: hidden;
  padding-top: 5%;
}
span {
  color: #fbdd41;
}

.active {
  background: #233dff31 !important ;
  border-left: 3px solid #233dff;
}

.active a {
  color: #233dff !important;
  font-weight: bold;
}
.active a svg {
  fill: #233dff !important;
}

/* =============================== */

/* dashboard-menu */
.dashboard {
  padding: 50px 90px 90px 400px;
}

.card-dashboard {
  position: absolute;
  top: 8.3rem;
  left: 3rem;
  z-index: 1;
}

.card-dashboard .card {
  width: 90%;
  border-radius: 8px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
}

#profile {
  width: 85px;
  margin: 40px 0 0 30px;
}

.dashboard-menu {
  color: #6c757d;
}

.dashboard-menu a {
  color: #6c757d;
  text-decoration: none;
  position: relative;
}
.dashboard-menu a:hover {
  color: #233dff;
  background-color: rgba(0, 0, 255, 0.09);
  border-radius: 5px;
}

.dashboard-menu a.active {
  color: #233dff;
  background-color: rgba(0, 0, 255, 0.09);
  border-radius: 5px;
}

.dashboard-menu a img {
  width: 20px;
  height: 20px;
  margin-right: 15px;
  margin-bottom: 3px;
}

.dashboard-menu a.active::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 4px;
  height: 100%;
  background-color: #233dff;
  border-radius: 5px 0 0 5px;
}

.sidebar-button {
  background-color: #cccccc !important;
  border-radius: 100px !important;
  margin: 0;
  width: 60px;
  position: fixed;
  bottom: 15px;
}
.sidebar-button img {
  width: 100%;
  padding: 25%;
}

@media (max-width: 1000px) {
  .card-dashboard {
    position: relative;
    margin: 0;
    top: 0rem;
    left: 0rem;
  }
  .dashboard {
    padding: 0;
  }

  .card-dashboard .card {
    width: 100%;
    border-radius: 0;
    box-shadow: none;
  }

  .sidebar-button {
    margin: 0 15px;
  }
}

@media (max-width: 500px) {
  .card-dashboard {
    position: relative;
    margin: 10px;
    top: 0rem;
    left: 0rem;
  }

  .sidebar-button {
    margin: 0;
  }
}

/* ================================ */

.color-custom {
  color: var(--color-afeksi-custom);
}

footer {
  background-color: #5a74fd;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.contact-img {
  max-width: 20px;
  height: 19px;
}

.link-title {
  font-size: 18px;
}

.bottom {
  background-color: #4959db;
  padding: 15px 10px;
  text-align: center;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: white;
}

.content-footer {
  margin-bottom: 55px;
}
