* {
  margin: 0;
  padding: 0;
}

/* Navbar  ================================================================*/
.nav-logo {
  width: 40%;
  margin: -15px;
}

.custom-button {
  font-weight: 600;
  width: 200px;
}

/* TIMELIME ============================================================== */

.timeline-bg {
  background-image: url('../assets/img/sect-1-bg.png');
  background-size: cover;
  background-position-y: -100px;
}

.timeline {
  list-style-type: none;
  padding: 0;
  margin-top: 50px;
  width: 100%;
  position: relative;
}

.timeline-line {
  width: 60%;
  height: 3px;
  background-color: #333;
}

.timeline-item {
  margin: -5% -5% 0 -5%;
}

.timeline-circle {
  width: 40px;
  height: 40px;
  padding: 5px;
  border-radius: 50%;
  line-height: 30px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  margin: 10px 25px;
}

.timeline-item.active .timeline-circle {
  background-color: #929090;
  color: #fff;
}

.circle-item {
  background-color: #f0f0f0;
  color: #333;
}

.timeline-item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: -3px;
  margin-left: 9.5%;
  width: 8px;
  height: 8px;
  background-color: #000;
  border-radius: 50%;
  display: inline-block;
}

.timeline-item:not(:first-child)::before {
  content: "";
  position: absolute;
  top: -3px;
  margin-left: 3%;
  width: 8px;
  height: 8px;
  background-color: #000;
  border-radius: 50%;
  display: inline-block;
}

.timeline-text {
  width: 90%;
  font-size: 16px;
  text-align: center;
}

.form-container {
  display: flex;
  align-items: center;
}
.star {
  color: #f9c222;
}

/* footer ===================================================================*/
.kotak {
  position: relative;
  top: 40px;
  width: 80%;
  height: 100%;
  margin: auto;
}

.bg-footer {
  background: rgb(24,43,207);
  background: linear-gradient(180deg, rgba(24,43,207,0.79) 0%, rgba(42,72,252,0.76) 50%, rgba(42,72,252,0.79) 100%);
}
